[Unit]
Description=echoip service
Documentation=https://github.com/wsm25/Toys/tree/main/echoip
After=network.target

[Service]
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/echoip 7878
Restart=no
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target